<!DOCTYPE html>
<html>
  <head>
    <title>Check List</title>
    <%= stylesheet_link_tag    ['jquery-1.3.2', 'application'], media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag ['jquery-1.3.2'] %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
